* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
header{
    padding-left: 80px;
}
.header_container {
    padding-block: 30px;
    background: linear-gradient(to right, white 630px, #2B7AF1 300px);
    display: flex;
    align-items: center;
}

.header_container>.header_navbar ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    column-gap: 40px;
    margin-left: 54px;
}
.header_container>.header_navbar ul li a{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
    text-decoration: transparent;
}
.header_container>.header_navbar ul li a:hover{
    transition: all 0.5s ease;
    text-decoration: 2px underline black;
}
.header_container>.header_navbar ul li a:not(:hover){
    transition: all 0.5s ease;
    text-decoration: 2px underline transparent;
}
.header_container > .header_links_contact{
    margin-left: 52px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header_container > .header_links_contact .link_contact > a{
    display: flex;
    align-items: center;
}

.header_container > .header_button{
    margin-left: 25px;

}

/*Вернуться*/
.header_container > .header_button button{
    padding-block: 15px;
    padding-inline: 30px;
    font-weight: 600px;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    border-radius: 25px;
   /* background: linear-gradient(to right, #FF7A00, #FFB039);*/
    border: 1px transparent;
background: linear-gradient(to right, #FF7A00, #FFB039);
}
.header_container > .header_button button:hover{
transition: all 5s ease;
background: linear-gradient(to right, #DD6A00, #F99806);
}

.header_container > .header_button button:not(:hover){
transition: all 5s ease;
background: linear-gradient(to right, #FF7A00, #FFB039);
}

.link_contact a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: white;
    text-decoration: 1px transparent;
}